<section class="note-editor">
  <header class="header">
    <h3 class="title">All Those Things We Never Said</h3>
    <div class="button-group">
      <button mat-icon-button aria-label="Example icon-button with a heart icon">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="basic">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </header>
  <article class="main">Article</article>
  <footer class="footer">
    <span class="date">
      <p>Created: June 16, 2019, 09:38:01 PM | Last edited: June 16, 2019, 10:27:42 PM</p>
    </span>
    <button mat-raised-button class="save-note">Save It!</button>
  </footer>
</section>
