$background-white: #fff;
$background-grey: #c6c6c6;
$background-blue-dark: #071E22;
$color-red: #D80229;
$color-white: #fff;
$color-light-yellow: #F2EABE;
$color-dark-orange: #E7574E;
$color-light-orange: #FCA17D;
$color-pastel-green: #42ABC5;
