<!--<mat-list role="list">-->
<!--  <mat-list-item class="note" role="listitem">-->
<!--    <span>Item 1</span>-->
<!--    <button mat-icon-button color="basic">-->
<!--      <mat-icon>delete</mat-icon>-->
<!--    </button>-->
<!--  </mat-list-item>-->
<!--</mat-list>-->

<ul class="list">
  <li class="list-item">
    <span class="title">Item 1 Item 1 Item 1 Item 1 Item 1 Item 1 Item 1 Item 1 Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
  <li class="list-item">
    <span class="title">Item 1</span>
    <button mat-icon-button color="basic">
      <mat-icon>delete</mat-icon>
    </button>
  </li>
</ul>
